
/repos/

# Configuration files
.config*

# Temporary and editor files
*~
*swp
*swo
\#*\#
.\#*
\#_*\#
.\#_*

# Build output directory
out/

# Build output files
*.o
*.a
*.d
*.so

# Patch files
/*.patch
/*.diff
*.orig
*.rej
*.bak
*.pyc

# Archive files
*.cpio
*.tar
*.bz2
*.gz
*.zip
*.Z
*.7z

# Test output files
log.build.*
log.run.*

# Pls don't push direnv stuff
.direnv
.envrc

before.log
after.log
c-fs/scripts/test/
c-hello/scripts/test/
c-http/scripts/test/
cpp-hello/scripts/test/
cpp-http/scripts/test/
elfloader-basic/output
elfloader-basic/scripts/test/
elfloader-net/scripts/test/
nginx/scripts/test/
python3-hello/scripts/test/
redis/scripts/test/
